<div class="row">
  <div class="col-lg-8 col-md-8">
  </div>
  <div class="col-lg-4 col-md-4">
    <a href="#intro-8-1" class="intro-link toggle">Show introduction</a>
  </div>
</div>
<div id="intro-8-1" style="display:none" class="row">
  <div class="col-lg-8 col-md-8">
    <p>
      El anterior cuestionario pretende ofrecer una consulta integral de los asuntos más importantes en relación con el actual marco legal de los derechos de autor en la UE. Si consideras que se han omitido asuntos importantes, le agradeceríamos que los mencionase para que podamos considerar en el futuro.
    </p>
  </div>
  <div class="col-lg-4 col-md-4">
    <h4>Summary</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>

{% for question_num in (80..80) %}
  {% for question in site.data.questions %}
    {% if question.num == question_num %}
      {% include question.html %}
    {% endif %}
  {% endfor %}
{% endfor %}
